body {
    font-family: 'Segoe UI', sans-serif;
    background: #f7f9fb;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 5% auto;
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #0056d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}